html, body{
	height: 		97%;
	min-height: 	98%;
	min-width: 		1200px;
}

.center {
	margin-left: 	auto;
	margin-right:	auto;
	text-align: 	center;
}

div .left {
	float:			left;
	margin-left:	20px;
}

div .middle {
	margin: 		auto auto;
}

div .right {
	float:			right;
	margin-right:	20px;
}

