<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html">

<h:head>
	<meta name="version" content="0.1" />
	<link rel="stylesheet" href="#{request.contextPath}/css/styles.css" type="text/css" />	
	<style type="text/css">
	<!--
		.ui-panelgrid td, .ui-panelgrid tr{
		   border-style: none !important
		}
	-->
	</style>

	<f:facet name="first">
		<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
		<title>Welcome</title>
	</f:facet>
	
</h:head>
<h:body class="ui-widget, ui-widget-content">
<h:form id="form" prependId="false" style="height:100%;">

<h:outputText value="Welcome, #{currentUser.login}"/>
	
    
</h:form>
</h:body>
</f:view>
</html>
 


 