<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view>

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="EmulateIE8" />
		<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
		<title>Login</title>
	</f:facet>

	<link rel="stylesheet" href="#{request.contextPath}/css/styles.css" type="text/css" />
	<style type="text/css">
	<!--
		.ui-layout-north {
			z-index: 20 !impo
			rtant;
			overflow: visible !important;;
		}
		.ui-layout-north .ui-layout-unit-content {
			overflow: visible !important;
		}
		
	-->
	</style>
</h:head>
<h:body>
<h:form id="form">
 
 	<p:panel id="loginPanel" header="Login" style="width:400px;margin-top:200px;" styleClass="center">
 	<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
 	<p:panelGrid columns="2" cellpadding="5">
		<h:outputLabel for="username" value="Usuario:" />
		<p:inputText value="#{loginBean.name}" id="username"/>
		<h:outputLabel for="password" value="Contraseña:" />
		<p:password id="password" value="#{loginBean.password}" inline="true" />
		<f:facet name="footer" style="text-align:right;background:#ffffff;">
	 		<p:commandButton value="Login" action="#{loginBean.doLogin()}" update="loginPanel"/>
	 	</f:facet>			
	</p:panelGrid>	
	</p:panel>

</h:form>		
</h:body>
</f:view>
</html>
